body {

  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: rgb(30, 88, 247);
  font-size: 27px;
  padding: 0px;
  text-align: right;
  margin-left: 0px;

}

li {
  margin-right: 40px;
}

select {
  display: inline;
}

#teamId, #playerIdSubmit, #faveplayersSubmit {
  display: none;
}

form {
  font-size: 20px;
  padding-left: 30px;
}

#pagetitle {
  margin-left: 30px;
}

div {
  padding-left: 0px;
}

#faveteams, #teamlist {
  width: 300px;
}

#addteam {
  margin-top: 15px;
  margin-bottom: 50px;
 
}
.headerlines {
  margin-left: 20px;
}

#deleteteam, #deleteplayer{
  margin-right: 20px;
}

.statlink {
  padding-left: 15px;
}

#memberlist {
  font-size: 25px;
  margin-left: 40px;
  
}

#memberheader {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 40px;
}

#userprofilelink {
  margin-left: 20px;
}

#usertitlepage {
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 50px;
}

#spacer {
  margin-left: 20px;
}

#myinfolink {
  margin-right: 20px;
}

#userinfopage {
  font-size: 25px;
  margin-left: 30px;
}

#updatealias {
  text-align: center;
}

#confettiLink {
  margin-right: 30px;
}

#container {
  position: relative;
}
canvas {
  position: absolute;
}

table {
  position: relative;
}

select {
  position: relative;
}

.btn {
  position: relative;
  color: white;
  background-color: white;

}

input {
  position: relative;
}

h1, h2, ul, nav, a {
  position: relative;
}

canvas {
  position: absolute;
  display:block;
}

#rainLink {
  margin-right: 30px;
}