body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: rgb(30, 88, 247);
  font-size: 27px;
  padding: 5px;
text-align: center;

}

li {
  margin-right: 40px;
}