<%- include('../partials/header') %>


<div id="memberheader">
Member List:
</div>
<div>
<ul id="memberlist">
<% users.forEach(function(user) { %>
<%= user.name %>
<a id="userprofilelink" href="/users/<%= user._id %>">User Profile</a>

<br>
<% }); %>
</ul>

</div>


<%- include('../partials/footer') %>
