<%- include('../partials/header') %>


<div>
ZOMGNEWTEAM
</div>


        <form action="/users/newteam" method="POST">
          <div class="input-group">
           
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit">Get Teams</button>
            </span>
          </div>
        </form>

        <div>
        <% %>
        <% teamData.forEach(function(x) { %>
        <br>
        <%= x.id; %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% }); %>
</div>

<select name="team" id="team" onChange="changeconf(this.value);">
<option value="" disabled selected>Select</option>
<option value="A">ACC</option>
<option value="B">Big Ten</option>
<option value="C">Big 12</option>
<option value="D">Pac 12</option>
<option value="E">SEC</option>
</select>
<select name="category" id="category">
<option value="" disabled selected>Select</option>
</select>
<div>

</div>

<%- include('../partials/footer') %>
