<%- include('../partials/header') %>


<div>
ZOMGNEWTEAM
</div>


        <form action="/users/newteam" method="POST">
          <div class="input-group">
           
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit">Get Teams</button>
            </span>
          </div>
        </form>

        <div>
        <%- JSON.stringify(teamData); %>
        <% %>
        <% %>
</div>

<%- include('../partials/footer') %>
