<%- include('../partials/header') %>


<div>
ZOMGNEWTEAM
</div>


        <form action="/users/newteam" method="POST">
          <div class="input-group">
           
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit">Get Teams</button>
            </span>
          </div>
        </form>

        <div>
        <% %>
        <% teamData.forEach(function(x) { %>
        <br>
        <%= x.id; %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% %>
        <% }); %>
</div>

<select name="meal" id="meal" onChange="changecat(this.value);">
    <option value="" disabled selected>Select</option>
    <option value="A">Big 12</option>
    <option value="B">B</option>
    <option value="C">C</option>
</select>
<select name="category" id="category">
    <option value="" disabled selected>Select</option>
</select>
<div>

</div>

<%- include('../partials/footer') %>
