<%- include('../partials/header') %>

<div>
<h2>Team Info</h2>
<% if (users.faveteams.length) { %>
<% users.faveteams.forEach(function(x) { %>
<br>

<%= x.faveteams %>
<a href="/teams/:id">View Team</a>

<% })}; %>

</div>

<form action="/users/<%= user._id %>/faveteams" method="POST">

<select name="teamlist" id="teamlist" onChange="changeconf(this.value);">
<option value="" disabled selected>Select</option>
<option value="A">ACC</option>
<option value="B">Big Ten</option>
<option value="C">Big 12</option>
<option value="D">Pac 12</option>
<option value="E">SEC</option>
</select>
<select name="faveteams" id="faveteams">
<option value="" disabled selected>Select</option>
</select>
<button class="btn btn-success"
                type="submit">Add Team</button>
</form>
<div>

</div>





<%- include('../partials/footer') %>